body {
    background-color: #333333;
  }
  
  h1 {
    color:white;
  }
  
  th {
    color: white;
    height: 20px;
  }
  
  td {
    color: black;
    font-size: 20px;
  }
  
  .table {
    border-collapse: collapse;
    width: 40%;
  }
  
  .table td,
  .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  .table th {
    font-weight: bold;
  }
  
  #table-container {
    display: flex;
    justify-content: space-between;
  }
  
  #results-container,
  #alt-results-container {
    flex-basis: 50%;
  }
  
  #alt-results,
  #results {
    min-width: 500px;
  }
  
  table,
  td,
  th {
    height: 10px;
  }
  
  #results-container table td:nth-child(3),
  #alt-results-container table td:nth-child(3) {
    text-align: center;
  }
  
  .numRunsImage {
    width: 30px;
    height: 30px;
  }